@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply bg-stone-950 selection:bg-rose-500 selection:text-white text-white
    }
}



body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    cursor: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
